


.GraphContainer {
    width: 33%;
    height: 100%;
}

#TreeMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.FilterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
